PORT=5000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/mirmax?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
PERSONAL_API_KEY=change_this_secret_key
